
<% if can? :create, Store.new %>
<pre>Howdy, <strong>admin</strong>! You're our rockstar so you get to do all of this:
  1) Create new store
  2) Update existing store
  3) Delete a store (remember,with great power..)
  <%= button_to 'New Store', new_store_path, class: "btn btn-default", method: :get %>
</pre>
<% end %>



<%= form_tag( stores_path, :method => "get", role:"search") do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], placeholder: "Search City" ,class:"form-control main-input", :required => "true" %>
        <span class="input-group-btn">
         <%= submit_tag "Search", :name => nil,class: 'btn btn-default' %>

        </span>
      </div>
<% end %>

<br>


<% if session[:city_name] && (@downcased.include? "#{session[:city_name]}") %>
<h1>Stores</h1>
<pre>
<table class="table table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>City</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.street %></td>
        <td><%= store.city %></td>
        <td><%= store.zip %></td>
        <td><%= store.phone %></td>
        <td><%= store.website %></td>
        <!--links-->
        <td><%= link_to 'Show', store %></td>
        <% if can? :create, Store.new %>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <!--links-->
      </tr>
    <% end %>
  </tbody>
</table>
</pre>
<% else %>
<%= render 'components/jumbotron' %>
<% end %>
<br>
