
<div class="text-center">
<h1>
  <strong><%= @store.name %></strong>
</h1>
<pre>
<table class="table table-bordered">


    <tr>
      <td><strong>Street:</strong></td>
      <td><%= @store.street %></td>
    </tr>

      <tr>
        <td><strong>City:</strong></td>
        <td><%= @store.city %></td>
      </tr>

        <tr>
          <td><strong>Zip:</strong></td>
          <td><%= @store.zip %></td>
        </tr>

          <tr>
            <td><strong>Phone:</strong></td>
            <td><%= @store.phone %></td>
          </tr>

            <tr>
              <td><strong>Website:</strong></td>
              <td><%= @store.website %></td>
            </tr>

</table>
</pre>

</div>

<span class="links-in-show">
<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
</span>
